#boxes-1 {
  float: left;
}

#boxes-2 {
  float: left;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
}

#this {
  background-color: black;
  color: #ffffff;
  width: 620px;
  padding: 10px;
  margin: 0px;
  font-weight: bold;
  text-align: center;
}

#life {
	background-color: #305f72;
	color: black;
	width: 300px;
  height: 160px;
	padding: 10px;
	margin: 0px;
  font-weight: bold;
}

#tv {
	background-color: #368eab;
	color: black;
	width: 300px;
  height: 150px;
	padding: 10px;
	margin: 0px;
  font-style: italic;
  font-weight: bold;
}

#looking {
	background-color: #f18c8e;
	color: black;
	width: 300px;
  height: 110px;
	padding: 10px;
	margin: 0px;
}

#stop {
	background-color: #f18c8e;
	color: black;
	width: 300px;
  height: 250px;
	padding: 10px;
	margin: 0px;
  float: left;
}

#open {
	background-color: #f18c8e;
	color: black;
	width: 300px;
  height: 150px;
	padding: 10px;
	margin: 0px;
  font-weight: bold;
}

#ask {
	background-color: #f0b7a4;
	color: black;
	width: 300px;
  height: 150px;
	padding: 10px;
	margin: 0px;
  float: left;
  }

#travel {
	background-color: #f1d1b5;
	color: black;
	width: 300px;
  height: 280px;
	padding: 10px;
	margin: 0px;
  font-variant: small-caps;
  font-style: italic;
  font-weight: bold;
}

#people {
	background-color: #368eab;
	color: black;
	width: 300px;
  height: 140px;
	padding: 10px;
	margin: 0px;
  font-weight: bold;
}

  #short {
	background-color: #305f72;
	color: black;
	width: 300px;
  height: 100px;
	padding: 10px;
	margin: 0px;
  font-variant: small-caps;
  font-weight: bold;
}

/***************EMPHASIS CODE*************************/

.emphasis-1 {
  font-family: Verdana;
  color: white;
}

.emphasis-2 {
  font-family: Helvetica;
  color: white;
}

.emphasis-3 {
  font-family: Indie Flower;
  font-weight: bold;
}

.emphasis-4 {
  font-family: ZCOOL KuaiLe;
  font-weight: bold;
  color: white;
}

.emphasis-5 {
  color: white;
}
